#startQuiz{
        margin-right: auto;
        margin-left: auto;
        margin-top: 200px;
        
    }

    #qTime{
        float: right!important;
    }

    #quiz{
        display: none
    }

    #buttons{
        margin-top: 50px;
    }